/******************************************************************/
/************************ COMMON STYLING **************************/

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

/******************* COMMON STYLING ENDS **************************/
/******************************************************************/

/******************************************************************/
/****************************** NAVBAR ****************************/

.navbar {
  background: #1b2129d6 !important;
}

.navbar-brand {
  width: 50px;
}

.brand-title {
  margin-left: 8px;
  font-weight: 600;
}

.navbar-brand img {
  width: 100%;
}

.navbar a span {
  color: white;
}

.navbar-collapse {
  flex-grow: unset !important;
  flex-basis: auto !important;
}

.nav-link {
  color: whitesmoke !important;
  font-size: 16px;
  margin: 8px !important;
}

.active {
  color: #fd4766 !important;
  font-size: 18px;
}

.navbar-light .navbar-toggler {
  color: whitesmoke !important;
  border-color: whitesmoke !important;
  background: whitesmoke !important;
}

/**************************** NAVBAR ENDS *************************/
/******************************************************************/

/******************************************************************/
/************************* HOME PAGE ******************************/

/************************* HOME PAGE ENDS *************************/
/******************************************************************/

/******************************************************************/
/************************* CATEGORY PAGE **************************/

.card-body h1 {
  font-size: 18px;
  text-align: left !important;
}

.card-body .img-fluid {
  width: 100% !important;
  height: 150px !important;
}

/********************* CATEGORY PAGE ENDS *************************/
/******************************************************************/

/******************************************************************/
/************************* COURSE PAGE ****************************/

/************************* COURSE PAGE ENDS ***********************/
/******************************************************************/
